.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  align-items: stretch;

  textarea {
    height: 20rem;
  }
}

.flex_column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project {
  align-items: flex-end;
}