$background-light-200: #f9f9f9;
$background-light-500: #f5f5f5;

$color-primary: #6E00FF;

$color-text: #000;


$scrollbar-background: #0E1015;
$scrollbar-background-light: #181A20;
$scrollbar-background-dark: #000000;

$main-nav-width: 15rem;

$max-container-width: 120rem;
