@use 'src/styles/variables' as v;

.container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9375rem;
  color: v.$color-text;
}

.label {
  font-weight: 600;
  color: v.$color-text-secondary;
}

.value {
  color: v.$color-text;
}
