.active_logs {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .active_logs__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .active_logs__group__projects {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .other {
        opacity: .5;
      }
    }
  }
}