.container {
  gap: 3rem;
}

.invoices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  .invoice {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
  }
}

.expenses_grouped {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  .expenses_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .expense {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: .5rem 1rem;
      border-radius: 1rem;
      background-color: #f5f5f5;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  .project {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
  }
}

.print_jobs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  .print_job {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
  }
}

.active_logs {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .active_logs__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0;

    .active_logs__group__projects {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .other {
        opacity: .5;
      }
    }
  }

  .working_on {
    font-weight: 600;
  }
}