@use '../styles/variables.scss' as v;

.container {
  gap: 3rem;
}

.invoices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  .invoice {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
  }
}

.expenses_grouped {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  .expenses_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .expense {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: .5rem 1rem;
      border-radius: 1rem;
      background-color: #f5f5f5;

      .recurring_icon {
        margin-left: 1rem;
        color: v.$color-danger;
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  .project {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
  }
}

.print_jobs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  .print_job {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
  }
}
