.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.information {
  width: 100%;
  max-width: 30rem;
}

.side_to_side {
  align-items: flex-end;
  position: relative;
  gap: 0 !important;

  .link {
    width: 100%;
  }

  .linkButton {
    position: absolute;
    right: -8rem;
    top: 2.8rem;
    display: flex;
    gap: 1rem;
  }
}