.project_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(100% + 2rem);
  position: sticky;
  top: 0;
  background: white;
  margin: -1rem;
  padding: 1rem;
}

.project_actions {
  display: flex;
  gap: 1rem;
}